<div class="md-dialog-container">
    <md-dialog aria-label="Account" flex="40">

            <form name="accountForm">

                <md-toolbar>
                    <div class="md-toolbar-tools">
                        <h2>Update your account</h2>
                        <span flex></span>
                        <md-button class="md-icon-button" ng-click="cancel()">
                            <md-icon aria-label="Close dialog">&#xE5CD;</md-icon>
                        </md-button>
                    </div>
                </md-toolbar>
                <md-dialog-content layout-padding>


                    <div layout="column" style="overflow:hidden" flex layout-wrap>
                        <md-input-container flex="100">
                            <label>Restaurant name</label>
                            <input name="name" ng-model="account.name" required>
                            <div ng-messages="accountForm.name.$error" md-auto-hide="false" role="alert"  ng-if="accountForm.name.$touched">
                                    <div ng-message="required" ng-if="accountForm.name.$error.required">Name is required!</div>
                            </div>
                        </md-input-container>


                        <md-input-container flex="100">
                            <label>Password</label>
                            <input type="password" name="password" ng-model="account.password">
                            <div ng-messages="accountForm.password.$error" md-auto-hide="false" role="alert"  ng-if="accountForm.password.$touched">
                                <div ng-message="required" ng-if="accountForm.password.$error.required">Password is required!</div>
                            </div>
                        </md-input-container>

                        <md-input-container flex="100">
                            <label>Description</label>
                            <textarea name="description" ng-model="account.description" required ng-maxlength="100" md-maxlength="100"></textarea>
                            <div ng-messages="accountForm.description.$error" md-auto-hide="false" role="alert"  ng-if="accountForm.description.$touched">
                                <div ng-message="required" ng-if="accountForm.description.$error.required">description is required!</div>
                                <div ng-message="maxlength" ng-if="accountForm.description.$error.maxlength">That's too long!</div>
                            </div>
                        </md-input-container>

                        <md-input-container flex="100">
                            <label>Phone Number</label>
                            <textarea name="phoneNumber" ng-model="account.phoneNumber" required></textarea>
                            <div ng-messages="accountForm.phoneNumber.$error" md-auto-hide="false" role="alert"  ng-if="accountForm.phoneNumber.$touched">
                                <div ng-message="required" ng-if="accountForm.phoneNumber.$error.required">PhoneNumber is required!</div>
                            </div>
                        </md-input-container>

                        <md-input-container flex="100">
                            <label>Wechat Id</label>
                            <textarea name="wechatId" ng-model="account.wechatId" required></textarea>
                            <div ng-messages="accountForm.wechatId.$error" md-auto-hide="false" role="alert"  ng-if="accountForm.wechatId.$touched">
                                <div ng-message="required" ng-if="accountForm.wechatId.$error.required">PhoneNumber is required!</div>
                            </div>
                        </md-input-container>


                        <md-input-container>
                            <label>State</label>
                            <md-select ng-model="account.suburb">
                                <md-option><em>None</em></md-option>
                                <md-option ng-repeat="suburb in ctrl.states" ng-value="state.abbrev" ng-disabled="$index === 1">
                                    {{suburb.abbrev}}
                                </md-option>
                            </md-select>
                        </md-input-container>



                        <div layout="row" layout-align="end center">
                            <md-button  class="md-raised" ng-click="cancel($event)" flex="10">Cancel</md-button>
                            <md-button class="md-primary md-raised" ng-click="saveDish($event)" flex="10">Save</md-button>
                        </div>

                    </div>
                </md-dialog-content>
            </form>
    </md-dialog>

</div>
