<div class="md-dialog-container">
    <md-dialog aria-label="Upload dish" flex="40">

            <form name="dishForm">

                <md-toolbar>
                    <div class="md-toolbar-tools">
                        <h2>Upload dish</h2>
                        <span flex></span>
                        <md-button class="md-icon-button" ng-click="cancel()">
                            <md-icon aria-label="Close dialog">&#xE5CD;</md-icon>
                        </md-button>
                    </div>
                </md-toolbar>
                <md-dialog-content layout-padding>


                    <div layout="column" style="overflow:hidden" flex layout-wrap>
                        <md-input-container flex="100">
                            <label>Dish Title</label>
                            <input name="title" ng-model="dish.title" required>
                            <div ng-messages="dishForm.title.$error" md-auto-hide="false" role="alert"  ng-if="dishForm.title.$touched">
                                    <div ng-message="required" ng-if="dishForm.title.$error.required">Title is required!</div>
                            </div>
                        </md-input-container>


                        <md-input-container flex="100">
                            <label>Dish category</label>
                            <md-select name="category" ng-model="dish.category" required>
                                <md-option><em>None</em></md-option>
                                <md-option ng-repeat="category in categories" ng-value="category.id">
                                    {{category.category_title}}
                                </md-option>
                            </md-select>
                        </md-input-container>


                        <md-input-container flex="100">
                            <label>Description</label>
                            <textarea name="description" ng-model="dish.description" required ng-maxlength="100" md-maxlength="100"></textarea>
                            <div ng-messages="dishForm.description.$error" md-auto-hide="false" role="alert"  ng-if="dishForm.description.$touched">
                                <div ng-message="required" ng-if="dishForm.description.$error.required">description is required!</div>
                                <div ng-message="maxlength" ng-if="dishForm.description.$error.maxlength">That's too long!</div>
                            </div>
                        </md-input-container>

                        <md-input-container flex="100">
                            <label>$ Price</label>
                            <input name="price" ng-model="dish.price" required type="number" min="1" max="999">
                            <div ng-messages="dishForm.Price.$error" md-auto-hide="false" role="alert"  ng-if="dishForm.Price.$touched">
                                <div ng-message="required" ng-if="dishForm.Price.$error.required">Price is required!</div>
                                <div ng-message="max" ng-if="dishForm.Price.$error.max">Maximum price is $999</div>
                            </div>
                        </md-input-container>



                        <div flex="100" class="dishDropZone" layout-padding>
                            <lf-ng-md-file-input name="files" lf-files="files" lf-required lf-maxcount="5" lf-filesize="10MB" lf-totalsize="20MB" lf-mimetype="image/*" drag preview></lf-ng-md-file-input>
                            <div ng-messages="dishForm.files.$error" role="alert"  ng-if="dishForm.files.$touched">
                                <div ng-message="required">This is required.</div>
                                <div ng-message="maxcount">Too many files.</div>
                                <div ng-message="filesize">File size too large.</div>
                                <div ng-message="totalsize">Total size too large.</div>
                                <div ng-message="mimetype">Mimetype error.</div>
                            </div>
                        </div>

                        <div layout="row" layout-align="end center">
                            <md-button  class="md-raised" ng-click="cancel($event)" flex="10">Cancel</md-button>
                            <md-button class="md-primary md-raised" ng-click="saveDish($event)" flex="10" ng-disabled="dishForm.$invalid">Save</md-button>
                        </div>

                    </div>
                </md-dialog-content>
            </form>
    </md-dialog>

</div>
