html {
    height: 100%;
    min-height: 100%;
}
body {
    height: 100%;
    margin: 0;
    padding: 0;
    min-height: 100%;
}

/* latin-ext */
@font-face {
    font-family: 'Kaushan Script';
    font-style: normal;
    font-weight: 400;
    src: local('Kaushan Script'), local('KaushanScript-Regular'), url(https://fonts.gstatic.com/s/kaushanscript/v5/qx1LSqts-NtiKcLw4N03IO87R-l0-Xx_7cYc0ZX1ifE.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Kaushan Script';
    font-style: normal;
    font-weight: 400;
    src: local('Kaushan Script'), local('KaushanScript-Regular'), url(https://fonts.gstatic.com/s/kaushanscript/v5/qx1LSqts-NtiKcLw4N03IEd0sm1ffa_JvZxsF_BEwQk.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}


//* {
//    font-family: 'Kaushan Script';
//}
@media only screen
and (max-width: 736px) {
    .mobile {
        display:block;
    }
    .desktop {
        display:none;
    }
    .tablet {
        display:none;
    }
}

@media only screen
and (min-width: 736px)
and (max-width: 1200px){
    .tablet {
        display:block;
    }
    .desktop {
        display:none;
    }
    .mobile {
        display:none;
    }
}

@media only screen
and (min-width: 1200px) {
    .desktop {
        display:block;
    }
    .tablet {
        display:none;
    }
    .mobile {
        display:none;
    }
}

#gugu-logo {
    height: 100%;
    width: 100%;
}

#search-container {
  padding-bottom: 0px;
  margin-left: 25px;
  margin-top: 40px;
  color: white;

  input::-webkit-input-placeholder {
    color: white !important;
  }

  input:-moz-placeholder { /* Firefox 18- */
    color: white !important;
  }

  input::-moz-placeholder {  /* Firefox 19+ */
    color: white !important;
  }

  input:-ms-input-placeholder {
    color: white !important;
  }
  input {
    color:white;
  }
}

.dishDropZone {
  height: 400px !important;
}

.dishCanvas {
  background-color:transparent;
}
.dishImage {
  height:100%;
  width:100%;
}
